.logo span{
    position: relative;
}
header .logo span::before{
    mix-blend-mode: difference;
    content: '';
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-text);
    animation: left-right 4s linear infinite alternate;
    transition: 0.3s;
}
@keyframes left-right{
    to{
        left: calc(100% - 30px);
    }
}