.project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project-card{
    background-color: var(--bg-secondary);
    border-radius: 16px;
    width: 30%;
    padding: 20px;
    overflow: hidden;
}
.project-card img{
    border-radius: 16px;
}
.projects .title{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 40px;
}