.project-cards{
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.project-card{
    background-color: var(--bg-secondary);
    border-radius: 8px;
}
.project-card{
    width: 30%;
}
.projects .title{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 40px;
}