.projects-details > div{
    width: 400px;
}
.dark-theme .projects-details > div.shown{
    box-shadow: 0 0 64px 22px rgba(100, 100, 255, 0.8);
}
.projects-details > div.shown{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10011;
    background-color: #fff;
    color: #000;
    padding: 20px;
    height: 300px;
    border-radius: 16px;
    box-shadow: 0 0 64px 22px rgba(0, 0, 0, 0.8);
    animation: forwards detailsAnimation 1s 0.2s;
}
.projects-details > div:not(.shown){
    display: none;
}
.project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.project-card{
    background-color: var(--bg-secondary);
    border-radius: 16px;
    width: 30%;
    overflow: hidden;
    position: relative;
}
.project-card img{
    border-radius: 16px;
}
.project-card:hover{
    transform: translateY(-10px);
}
.project-card:hover img{
    transform:rotate(2deg);
}
.projects .title{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 40px;
}
.project-details.shown{
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 10011;
}
.overlay.shown{
    position: fixed;
    opacity: 0.47;
    z-index: 200;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
}
.project-card > div{
    padding: 20px;
}